################################################################################
## Exports
################################################################################
exportPattern(".")
# In the future this should be used:
#exportPattern("^[^\\.]")

S3method("print", "hngarch")
S3method("print", "option")
S3method("summary", "fOPTION")
S3method("summary", "hngarch")
S3method("summary", "option")

################################################################################
## Imports
################################################################################
import("timeDate")
import("timeSeries")
import("fBasics")

importFrom("graphics", text)
importFrom("methods", new)
importFrom("stats", dnorm, integrate, nlm, rnorm, runif, uniroot, var)

################################################################################
## Libraries
################################################################################
useDynLib("fOptions")
